*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 80px;
  background-color: rgba(0, 161, 250, 0.6);
  position: fixed;
}
.cab_nav{
  width: 100%;
  padding: 20px;
  text-align: right;
  position: fixed;
  top: 0px;
}
.cab_nav ul li{
  list-style: none;
  display: inline-block;
  padding: 10px 40px;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-stretch:expanded;
  cursor: pointer;
}

.cab_nav ul li a{
  text-decoration: none;
  color: white;
}
.nomb_logo{
  width: 330px;
  padding: 0px 10px;
  float: left;
  position: relative;
  top: -15px;
  left: 4%;
  color: white;
  font-size: 30px;
}
.logo_img{
  width: 80px;
  position: absolute;
  /*transform: translateX(-1900px) translateY(-20px);*/
  top: 0px;
  left: 20px;
}

.fondo_p{
    width: 100%;
    height: 1000px;
    background: url(Imagenes/cubre12.jpg);
    
    background-size: cover;
    background-attachment: fixed;
    position: center;
    justify-content: center;
    text-align: center;
    z-index: -1;



    align-items: center;
}
.fondo_p h1{
  font-size: 150px;
  font-style: italic;
  color: white;
  text-align: center;
  padding: 400px 0px;
  
  
}

.seccion_f{
  max-width: 1100px;
  width: 90%;
  overflow: hidden;
  margin: auto;
  color: black;
  padding: 20px 0px;
}
.seccion{
    width: 100%;
    height: 1000px;
    background: url(Imagenes/lavar.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}
.seccion h2{
  font-size: 150px;
  text-align: center;
  padding: 400px 0px;
  font-style: italic;
  color: black ;
}

.seccion_2 h2{
  font-size: 150px;
  text-align: center;
  padding: 400px 0px;
  color: black;
  font-style: italic;

}

.seccion_3 h2{
  font-size: 150px;
  text-align: center;
  padding: 400px 0px;
  color: white;
  font-style: italic;

}

.titulos{
  font-size: 45px;
  text-align: center;
  padding: 60px 0px;
}
.parrafos{
  font-size: 30px;
  padding: 20px;
  text-align: justify;
}

/* Replicas*/
.seccion_2{
    width: 100%;
    height: 1000px;
    background: url(Imagenes/sat.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}
.seccion_3{
    width: 100%;
    height: 1000px;
    background: url(Imagenes/sana.jpg); 
    background-size: cover;
    background-attachment: fixed;
    position: center;
    justify-content: center;
    text-align: center;
    z-index: -1;
}
.marca {
  background-color: rgba(0, 94, 255, 0.5);
}

#bar{
    width: 100%;
    height: 70px;
    position: fixed;
    top:0;
    background: #3C3C3C;
    z-index: 100000;
    display: none;
    }  

  .icon-menu{
    display: block;
    color: white;
    font-size: 30px;
    left: 20px;
    margin-top: 18px;
    position: absolute;
    z-index: 10000000;
    }


  #bar:checked ~ .cab_nav{
    transform: translateX(0%);
    transition: all 1.0s ease-out;
    background-color: rgba(29, 25, 29, .8);
}

#bar, .icon-menu{
  display: none;
}



@media screen and (max-width:1000px){

  #bar{
    width: 100%;
    height: 70px;
    position: fixed;
    top:0;
    background: #3C3C3C;
    z-index: 100000;
    display: none;
    }  

  .icon-menu{
    display: block;
    color: white;
    font-size: 45px;
    left: 40px;
    margin-top: 25px;
    position: absolute;
    z-index: 10000000;
    }


  #bar:checked ~ .cab_nav{
    transform: translateX(0%);
    transition: all 1.0s ease-out;
    background-color: rgba(29, 25, 29, .8);
}


header{
  height: 100px;
  position: fixed;
  width: 100%;
  background-color: rgba(21, 9, 17, 1);
  top: 0;
  z-index: 10;
}

.cab_nav{
  width: 50%;
  height: 100%;
  position: fixed;
  margin: 0;
  transform: translateX(-100%);
  background-color: rgba(21, 19, 17, 1);
  transition: all 0.7s ease-in;
}

header .cab_nav ul li{
  display: block;
  border-bottom: 1px solid rgba(225, 225, 225, .5);
  padding: 10px 0px;
  width: 300px;
  text-align: center;
  margin-top: 20%;
  font-size: 30px;
}


.nomb_logo{
  display: none;
}

.logo_img{
  display: none;
}

.tit{
      color: #fff;
      text-decoration: none;
      padding: 0% 20%;
      top: 0%;
      position: fixed;
    }

.fondo_p{
    background: url(Imagenes/cubre112.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    z-index: -1;
}
.fondo_p h1{
    font-size: 80px;
    text-align: center;
    font-style: italic;
    color: black;
  }

.seccion_f{
  max-width: 1100px;
  width: 90%;
  overflow: hidden;
  margin: auto;
  color: black;
  padding: 20px 0px;;
}
.seccion{
    background: url(Imagenes/lavar.jpg); 
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
    z-index: -1;
}
.seccion h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color: black ;
}

.seccion_2 h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color: black ;

}

.seccion_3 h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color:  black ;
}

.titulos{
  font-size: 35px;
  text-align: center;
  padding: 60px 0px;
}
.parrafos{
  font-size: 25px;
  padding: 20px;
  text-align: justify;
}

/* Replicas*/
.seccion_2{
    background: url(Imagenes/sat.jpg); 
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    

    z-index: -1
}
.seccion_3{
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    

    z-index: -1;
}
.marca {
  background-color: rgba(0, 94, 255, 0.5);
}






/*
.marca {
  background-color: rgba(0, 94, 255, 0.5);
}
    .fondo_p h1{
    font-size: 80px;
    text-align: center;
    font-style: italic;
    color: black;
    }

    .seccion h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color: black ;
    }

    .seccion_2 h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color: black ;
    }

    .seccion_3 h2{
    font-size: 80px;
    text-align: center;
    padding: 400px 0px;
    font-style: italic;
    color:  black ;
    }



    #bar{
      width: 100%;
      height: 70px;
      position: fixed;
      top:0;
      background: #3C3C3C;
      z-index: 100000;
      display: none;
    }  

    .icon-menu{
      display: block;
      color: white;
      font-size: 30px;
      left: 20px;
      margin-top: 18px;
      position: absolute;
      z-index: 10000000;
    }

    header{
      height: 100px;
      position: fixed;
      width: 100%;
      background-color: rgba(21, 9, 17, 1);
      top: 0;
      z-index: 10;

    }

    .cab_nav{
      width: 70%;
      height: 100%;
      position: fixed;
      margin: 0;
      transform: translateX(-100%);
      background-color: rgba(21, 19, 17, 1);
      transition: all 0.7s ease-in;
    }

    .logo_img{
      display: none;
    }

    .nomb_logo{
      display: none;
    }

    .tit{
      color: #fff;
      text-decoration: none;
      padding: 0% 20%;
      top: 0%;
      position: fixed;
    }

    header .cab_nav ul li{
      display: block;
      border-bottom: 1px solid rgba(225, 225, 225, .5);
      padding: 10px 0px;
      width: 300px;
      text-align: center;
      margin-top: 20%;

    }

    #bar:checked ~ .cab_nav{
      transform: translateX(0%);
      transition: all 1.0s ease-out;
      background-color: rgba(29, 25, 29, .8);

    }

.fondo_p{
    
    background: url(Imagenes/cubre112.jpg);
    width: 100%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    z-index: -1;

}

.seccion{
    
    background: url(Imagenes/lavar.jpg); 
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
    
    z-index: -1;
}   

       
.seccion_2{
    
    background: url(Imagenes/sat.jpg); 
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    

    z-index: -1;
}
   
.seccion_3{
    width: 100%;
    height: 800px;
   
    background-position: center;

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    

    z-index: -1;
}
    
.titulos{
  font-size: 35px;
  text-align: center;
  padding: 60px 0px;
}
.parrafos{
  font-size: 25px;
  padding: 20px;
  text-align: justify;
}


.seccion_f{
  max-width: 1100px;
  width: 90%;
  overflow: hidden;
  margin: auto;
  color: black;
  padding: 20px 0px;
}

}


*/
